*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
    .second::-webkit-scrollbar{
      width: 0px;
      background: transparent;
  }
  .second {
    -ms-overflow-style: none; /* IE and Edge */
}

/* Hide scrollbar for Firefox */
.second {
    scrollbar-width: none; /* Firefox */
}

